html{background:#204080;}
body{margin:0;padding:0;}
.text-center{text-align:center;}
.content{position:relative;
color:#798CB3;
font-family:'Helvetica Neue';
text-shadow:0px 1px rgba(0,0,0,0.6);
-webkit-font-smoothing:antialiased;
max-width:600px;
padding:0px 10px;
margin:0 auto;
margin-top:10%;
text-align: -webkit-center;
}
.hidelink {text-decoration:none;}
.menu {text-decoration:none;color:#fff;text-align: -webkit-center;}
.menu:visited {text-decoration:none;color:#798CB3;}
.menu:link {text-decoration:none;color:#798CB3;}
.menu:hover {text-decoration:none;color:grey;}
.img-avatar{position:relative;
border-radius:20px;
width:154px;
height:154px;
display:inline-block;
}
.img-avatar img{
width:150px;
height:150px;
border-radius:20px;
padding:2px;
border:2px solid #fff;
position:absolute;
left:0;
}
.list-links{list-style-type:none;
font-size:32px;
text-align:center;
padding:0;
}
.list-links li{display:inline;padding:0px 3px 0px 3px;}
.list-links a{color:white;text-decoration:none;}
.btn{border:none;
padding:12px 20px;
border:solid 3px white;
background:transparent;
font-size:22px;
transition:background 0.2s linear,color 0.3s ease-in;
cursor:pointer;
color:white;
text-shadow:none;
font-weight:bold;
}
.btn:hover{color:rgba(0,0,0,0.8);
border-color:white;
background:white;
}
.social {
height:34px;
width:34px;
margin-right:4px;
margin-bottom:2px;
float:left;
color:#fff;
background:#198dc7;
font-size:24px;
text-align: center;
-webkit-transition:all .2s linear;
-moz-transition:all .2s linear;
-o-transition:all .2s linear;
-ms-transition:all .2s linear;
transition:all .2s linear;
}
.social:hover{background-color:#373737;}
.social i{position:relative; top:10%;}
.k {background-color:#E6E6E6; color:#00699B;}
.tt {text-decoration:none;
font-family:arial;
font-size:30px;}
.mail, .gp {background-color:crimson}
.angel {background-color:white;color:black}
.gh {background-color:black}
.q {background-color:black; color:red;}
.rss {background-color:orange;}
.wp {background-color:#1B759D}
.delicious{color:black}
.slide {background-color:#0074B3}
.one {background-color:white;color:black}
